@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0; 
   font-family: 'Inter', sans-serif;
}

.purple {
    color: #6415ff;
}

.words {
    text-align: center;
    opacity: .7;
    margin-bottom: 36px;
}

/*

NAV

*/


nav {
        padding: 24px;
}    

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; 
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

.logo__img--t {
    width: 40px;
    margin: 8px;
}

.nav__container--logo {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 48px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.nav__link {

    padding: 0 24px;
    font-size: 16px;
    font-weight: 500;
    color: black;
    text-decoration: none;
}

.nav__link--primary {
    padding: 12px 32px;
    background-color: #6415ff;
    color: white;
    border-radius: 100px;
}


.header__container {
    display: flex;
    align-items: center;
    padding: 96px 0;
}

.header__container--column {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.header__img {
    width: 60%;
}

.header__img--pic {
    width: 100%;
}

.heading {
    font-size: 36px;
    margin-bottom: 24px;
}

.subtitle {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 48px;
}

.header__btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 2px solid rgba(211, 211, 211, 0.219);
    border-radius: 50px;
    padding: 8px 16px;
    
}

.header__btn--input {
    border: none;
    font-size: 16px;
}

.header__button--click {
    padding: 8px 24px;
    background-color: #6415ff;
    color: white;
    border-radius: 100px;
}

.header__companies {
    margin-top: 80px;
}

p {
    font-size: 12px;
}

.header__img--companies {
    width: 100%;
    max-width: 400px;
    margin-top: 16px;
}

/*

FEATURES

*/

.features__container {
    padding: 96px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    letter-spacing: 2PX;
}

.features__title {
    font-size: 48px;
}

.features__description--wrapper {
    width: 60%;
}

.features__description {
    font-size: 16px;
    padding: 0 48px;
}

.features__container--list {
    display: flex;
    flex-wrap: wrap;
}

.features__list {
    width: calc(100% /3);
    display: flex;
    align-items: center;
    padding-right: 12px;
    margin-bottom: 34px;
}

.features__img {
    width: 20%;
    border: 2px solid lightgrey;
    border-radius: 100%;
    padding: 20px;
    
}

.features__img--icon {
    width: 100%;
    max-width: 100px;
   max-width: 400px;
}

.features__list--description {

}